.container {
    width: auto;
    max-width: 900px;
    padding: 15 15 45 15px;
    background-color: rgba(40, 39, 46, 0.7);
    color: silver;
    margin-top: 75px;
    text-align: justify;
    height: auto;
    font-size: 16px;
  }

  .profile-pic {
      width: 200px;
      height: 200px;
      margin-left: 15px;
      margin-top: 7px;
  }
  
  h1 {
      margin-left: 20px;
      margin-top: 30px;
      text-align: center
  }


body {
      background-image: url(http://images.faena.com/wp-content/uploads/sites/4/2015/10/cruzdiez2.jpg);
      height: 100%;
  }

  footer {
    background-color: rgba(40, 39, 46);
    color: silver;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }


.work img {
    width: 130px;
    height: 130px;  
}



