.name {
    float: left;
    width: 350px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 90px;
    color: black;
    text-align: center;
    text-decoration: none;
    background: rgba(110, 101, 101, 0.411);
  }

  .right-buttons {
      float: right;
      height: 90px;
      background: rgba(110, 101, 101, 0.411);
      width: 330px;
      text-align: center;
      color: black;
      line-height: 90px;
      font-size: 20px;
      font-weight: 700;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-decoration: none;
  }

  .links {
      color: black;
  }

  footer {
    padding: 20px 0;
    clear: both;
    font-size: 16px;
    color: yellow;
    text-align: center;
    background: rgba(110, 101, 101, 0.411);
    height: 60px;
    font-weight: bold;
    margin-top: 555px;
  }

  body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url(Wiki-background.jpg);
  }

  .main-text {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 15px;
    margin: 49 20 40 20px;
    background: url(Wiki-background.jpg);
    border: 1px solid black;
    font-size: 20px;
    text-align: justify;
    line-height: normal;
    color: yellow;
  }

  .profile-pic {
      width: 200px;
      height: 200px;
      float: left;
      margin-right: 25px;
      margin-top: 5px;
  }
